.collection{
    margin-bottom: 88px;
    margin-left: 100px;
    margin-right: 100px;
}

.collection_container {
    display: flex;
    flex-direction: column;
}

.header_title {
    font-size: 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 44.8px;
}

.collection_content_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.collection_content,
.collection_content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.collection_blouses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.collection_dresses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.collection_pants{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 125px;
}

.collection_outwear{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.img_outwear{
    width: 600px;
    height: 435px;
    top: 984px;
}
.img_blouses{
    width: 600px;
    height: 518px;
}
.img_dresses {
    width: 600px;
    height: 837px;
    top: 582px;
}

.img_pants{
    width: 600px;
}
